.homework {
	margin-bottom: 50px;
}

img {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
}

#gallery {
	display: flex;
	align-items: center;
	list-style: none;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #efefef;
}

.gallery-item {
	width: 250px;
	padding: 15px;
}

#validation-input {
	border: 3px solid #bdbdbd;
}

#validation-input.valid {
	border-color: #4caf50;
}

#validation-input.invalid {
	border-color: #f44336;
}

#boxes {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #efefef;
	margin-top: 10px;
}

#boxes > div {
	margin: 10px;
	border: solid 1px black;
}
